<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div id="header" class="row">
      <div class="col-xs-3">
      </div>

      <div class="col-xs-9">
        <h1 id="header-title"><%= link_to "Geert Kapteijns", root_path %></h1>
      </div>
    </div>

    <div class="row">
      <div id="sidebar" class="col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Cursus programmeren", cursus_programmeren_path %></li>
          <li><a href="#">Boeken</a></li>
          <li><%= link_to "Blog", posts_path %></li>
        </ul>
      </div>

      <div id="content" class="col-xs-9">
        <%= yield %>
      </div>
    </div>

  </div>

</body>
</html>
